.loginForm {
  display: flex;
  flex-direction: column;
  gap: calc(0.25rem * 6);
  padding-block: calc((0.25rem) * 6);
  padding-inline: calc(0.25rem * 6);
}

.loginFormContent {
  display: flex;
  flex-direction: column;
  gap: calc(0.25rem * 6);
}

.loginFormHeader {
  display: flex;
  flex-direction: column;
  gap: calc(0.25rem * 1.5);

  .loginFormHeaderTitle {
    font-weight: 600;
    font-size: 16px;
  }

  .loginFormHeaderDescription {
    color: var(--secondary-color);
  }
}

.formAction {
  font-weight: 500;
  font-size: 13px;
  color: var(--secondary-color);
  transition: color 0.2s;

  &:hover {
    text-decoration: underline;
    color: var(--primary-color);
    cursor: pointer;
  }
}
