.articleLoadingWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
  gap: 20px;
}

.articleLoadingAuthor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tags {
  display: flex;
  gap: 5px;
}
