.content {
  position: relative;
  border-radius: 0.75rem;
  padding: 1.5rem;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
  background: var(--modal-bg);
  opacity: 0;
  pointer-events: none;
}

.content.opened {
  opacity: 1;
  animation: slide-up 0.2s ease-out;
  pointer-events: auto;
}

.content.closed {
  opacity: 0;
  animation: slide-down 0.2s ease-out;
  pointer-events: none;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

@keyframes slide-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
