.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  color: var(--bg-color);
  background-color: var(--primary-color);
  cursor: pointer;
  gap: 5px;
  padding-block: calc(0.25rem * 2);
  padding-inline: calc(0.25rem * 4);

  &:hover {
    opacity: 0.9;
  }

  &.ghostIcon {
    padding: 5px;
  }

  &.ghost,
  &.ghostIcon {
    outline: none;
    color: var(--primary-color);
    background-color: transparent;

    &:hover {
      background-color: var(--button-hover-color);
    }
  }

  &.secondary {
    color: var(--primary-color);
    background-color: var(--button-secondary-bg);
  }

  &.outline {
    border: 1px solid var(--border-color);
    color: var(--primary-color);
    background-color: var(--button-outline-bg);

    &:hover {
      background-color: var(--button-hover-color);
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.loading > svg.spin {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
