.recommendationsWrapper {
  margin: 40px auto;
  width: 76vw;
  max-width: 900px;

  h2 {
    margin-bottom: 10px;
  }
}

.recommendations {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
}

.recommendationItem {
  width: 300px;
}
