body.light {
  --bg-color: #fff;
  --primary-color: #09090b;
  --secondary-color: #71717a;
  --navbar-bg: #fafafa;
  --button-hover-color: #f5f5f5;
  --button-secondary-bg: #f5f5f5;
  --border-color: #e5e5e5;
  --button-outline-bg: #fff;
  --modal-bg: #fff;
  --input-bg: #fff;
  --input-border: #d1d5db;
  --skeleton-bg: #e5e7eb;
  --skeleton-shimmer: #f3f4f6;
  --tag-default-bg: #f3f4f6;
  --tag-default-color: #111827;
  --tag-success-bg: #dcfce7;
  --tag-success-color: #065f46;
  --tag-warning-bg: #fef9c3;
  --tag-warning-color: #92400e;
  --tag-error-bg: #fee2e2;
  --tag-error-color: #991b1b;
  --tag-info-bg: #dbeafe;
  --tag-info-color: #1e40af;
  --select-border: #e5e5e5;
  --select-hover-option: var(--border-color);
}
