body.light {
  --bg-color: #fff;
  --primary-color: #09090b;
  --secondary-color: #71717a;
  --navbar-bg: #fafafa;
  --button-hover-color: #f5f5f5;
  --button-secondary-bg: #f5f5f5;
  --button-secondary-color: #09090b;
  --border-color: #e5e5e5;
  --button-outline-bg: #fff;
  --modal-bg: #fff;
  --input-bg: #fff;
  --input-border: #d1d5db;
}
