.navbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 0 10px;
  width: 100%;
  height: var(--navbar-height);
  gap: 20px;
}

.actionBtns {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

.loadingProfile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.loadingProfileInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
