.navbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 0 10px;
  width: 100%;
  height: var(--navbar-height);
  gap: 20px;
}

.links {
  display: flex;
  flex: 1;
  gap: 10px;
}

.switchers {
  display: flex;
  gap: 5px;
}
